.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #111;
    color: azure;
}

.menu {
    margin-left: 15px;
    color: white;
    text-decoration: none;
}

